@{
    ViewData["Title"] = "Accesso Negato";
}

<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Non hai i permessi per accedere a questa risorsa.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Torna alla Home</a>
</div> 