<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Configurazione IIS per AiDocMaster Produzione -->
  
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      
      <!-- Handler per ASP.NET Core -->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      
      <!-- Configurazione ASP.NET Core Module -->
      <aspNetCore processPath="dotnet" 
                  arguments=".\AiDocMaster.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\Logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
        </environmentVariables>
      </aspNetCore>
      
      <!-- Sicurezza Headers -->
      <httpProtocol>
        <customHeaders>
          <!-- Sicurezza -->
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="DENY" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
          <add name="Permissions-Policy" value="camera=(), microphone=(), geolocation=()" />
          
          <!-- Rimuovi headers che espongono informazioni -->
          <remove name="Server" />
          <remove name="X-Powered-By" />
          <remove name="X-AspNet-Version" />
        </customHeaders>
      </httpProtocol>
      
      <!-- Rewrite rules per HTTPS redirect -->
      <rewrite>
        <rules>
          <rule name="Redirect to HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
              <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
              <add input="{HTTP_HOST}" pattern=".*\.aidocmaster\.web" negate="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" 
                    redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
      
      <!-- Compressione Response -->
      <urlCompression doStaticCompression="true" doDynamicCompression="true" />
      <httpCompression>
        <dynamicTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="application/json" enabled="true" />
          <add mimeType="*/*" enabled="false" />
        </dynamicTypes>
        <staticTypes>
          <add mimeType="text/*" enabled="true" />
          <add mimeType="message/*" enabled="true" />
          <add mimeType="application/javascript" enabled="true" />
          <add mimeType="application/atom+xml" enabled="true" />
          <add mimeType="application/xaml+xml" enabled="true" />
          <add mimeType="*/*" enabled="false" />
        </staticTypes>
      </httpCompression>
      
      <!-- Cache per file statici -->
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        
        <!-- MIME Types per file moderni -->
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="font/woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
      
      <!-- Limiti Upload -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" /> <!-- 100MB -->
          <fileExtensions>
            <!-- Blocca esecuzione file pericolosi -->
            <remove fileExtension=".exe" />
            <add fileExtension=".exe" allowed="false" />
            <remove fileExtension=".bat" />
            <add fileExtension=".bat" allowed="false" />
            <remove fileExtension=".cmd" />
            <add fileExtension=".cmd" allowed="false" />
            <remove fileExtension=".com" />
            <add fileExtension=".com" allowed="false" />
            <remove fileExtension=".scr" />
            <add fileExtension=".scr" allowed="false" />
          </fileExtensions>
        </requestFiltering>
      </security>
      
      <!-- Errori personalizzati -->
      <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
        <remove statusCode="404" />
        <error statusCode="404" responseMode="ExecuteURL" path="/Home/Error/404" />
        <remove statusCode="500" />
        <error statusCode="500" responseMode="ExecuteURL" path="/Home/Error/500" />
      </httpErrors>
      
      <!-- Logging avanzato -->
      <httpLogging>
        <add logTargetW3C="File,ETW" />
      </httpLogging>
      
    </system.webServer>
  </location>
  
  <!-- Protezione cartelle sensibili -->
  <location path="Logs">
    <system.webServer>
      <handlers>
        <clear />
      </handlers>
      <httpHandlers>
        <clear />
      </httpHandlers>
    </system.webServer>
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="DocumentsStorage">
    <system.webServer>
      <handlers>
        <clear />
      </handlers>
    </system.webServer>
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration> 